#AppMain {
  padding: 10px;
}

.article {
  text-decoration: none;
}

.small {
  display: inline;
}

.links {
  list-style: none;
}

.links li a {
  font-size: small;
  float: left;
  margin-right: 10px;
  text-decoration: none;
}
