<!DOCTYPE html>
<html lang="ko">
<head>
    <title>GWNU Board</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="강릉원주대학교 학과별 공지 모아보기">
    <!-- <link rel="stylesheet" href="../home/../../style.css"> -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <header>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">전체학과 공지</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">맞춤형 공지</a>
                </li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              </ul>
        </header>
        <main id="AppMain">
            <article>
                <a class="article" href="#">
                    <h2 class="medium">제목</h2>
                    <p class="small">내용</p>
                    <br>
                    <time class="small">yy/mm/dd</time>
                    <h3 class="small" style="float: right;">전자공학과</h3>
                </a>
                <hr>
            </article>
            <article>
                <a class="article" href="#">
                    <h2 class="medium">제목</h2>
                    <p class="small">내용</p>
                    <br>
                    <time class="small">yy/mm/dd</time>
                    <h3 class="small" style="float: right;">전자공학과</h3>
                </a>
                <hr>
            </article>
        </main>
        <footer id="AppFooter">
            <ul class="links">
                <li>
                    <a href="https://www.gwnu.ac.kr/">강릉원주대학교</a>
                </li>
                <li>
                    <a href="https://high.gwnu.ac.kr/">HIGH</a>
                </li>
                <li>
                    <a href="https://lms.gwnu.ac.kr/">(구)해람인의 e참뜰</a>
                </li>
                <li>
                    <a href="https://nlms.gwnu.ac.kr/">해람인의 e참뜰</a>
                </li>
            </ul>
        </footer>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
